@font-face {
    font-family: '프리텐다드고딕';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: '함박눈';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    /* 헤더 스타일 */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: flex;
        justify-content: center;
        padding: 15px 0;  
    }

    .Frame1 {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* 로고 스타일 */
    .logo {
        font-family: '함박눈';
        font-size: 27px;
        color: #730000;
    }

    /* 카테고리 스타일 */
    .categories {
        display: flex;
        gap: 40px;
    }

    .category {
        color: black;
        font-size: 18px;
        font-weight: 600;
        font-family: '프리텐다드고딕';
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 20px 0;
        cursor: pointer;
        transition: color 0.3s;
    }
    
    .category:hover {
        color: #6d211f;
    }

    .categories .category:nth-child(3) {
        font-weight: bold;
        font-size: 23px;
    }

    /* 버튼 스타일 */
    .Buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    /* 회원가입 버튼 */
    .BtnSignUp {
        padding: 8px 8px;
        background: rgba(217, 217, 217, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .SignUp {
        text-align: center;
        color: black;
        font-size: 18px;
        font-weight: 700;
        font-family: '프리텐다드고딕';
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.6px;
    }

    /* 로그인 버튼 */
    .BtnLogin {
        padding: 8px 20px;
        background: rgba(217, 217, 217, 0);
        border-radius: 50px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .BtnLogin:hover {
        background-color: #f0f0f0;
    }

    .Login {
        text-align: center;
        color: black;
        font-size: 16px;
        font-weight: 700;
        font-family: '프리텐다드고딕';
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.66px;
    }
    
    		    /* 로그아웃 버튼 */
    .BtnLogout {
        padding: 8px 20px;
        background: rgba(217, 217, 217, 0);
        border-radius: 50px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .BtnLogout:hover {
        background-color: #f0f0f0;
    }

    .Logout {
        text-align: center;
        color: black;
        font-size: 16px;
        font-weight: 700;
        font-family: '프리텐다드고딕';
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.66px;
    }

    .icon_my {
    width: 26px;
    height: 26px;
    margin-top: 3px;
    }


    /* 게시판 영역 */
    .container {
        width: 1200px;
        margin: 100px auto 0;
        padding: 20px;
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-family: '프리텐다드고딕';
        margin-bottom: 10px;
    }
    
    .btn_posting {
        display: flex; 
        justify-content: flex-end;
    }

    .btn_list {  /* 글쓰기 버튼 */
        background-color: transparent;
        border: none;
        font-family: '프리텐다드고딕';
        font-size: 17px;
        font-weight: 600;
        color: #323232;
        display: flex;
        text-align: right;
        width: 100%;
        margin: 5px 0;
        cursor: pointer;
    }

    .btn_list:hover {
        color: #6d211f;
        font-weight:bolder;
    }
    
    /* 게시글 테이블 영역 */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
    th:nth-child(5), th:nth-child(6) {  /*5,6번째 컬럼만 가운데 정렬*/
        text-align: center;
    }

    
    /* 게시글 리스트 영역 */
    .board-title {
        font-weight: bold;
        color: #333;
    }
    .board-title:hover {
        text-decoration: underline;
    }
    .comments {
        color: #777;
    }
    .listed_date, .viewed, .Liked {
        color: #777;
    }
    .viewed, .Liked {
        text-align: center;
    }


    /* 페이지 번호 영역 */
    .ArticlePaginate {
        margin-top: 30px ;
    }

    .ArticlePaginate button {
        width: 25px;
        height: 25px;
        background-color: transparent;
        border-color: #cfcfcfd7;
        border-radius: 8px;
    }

    /* 검색 영역 */
    .input_search {
        display: flex;
        justify-content: center;
    }

    .input_search input {
        margin: 40px 0;
        padding: 8px;
        color: #333;
        border-color: 1px solid#484848;
    }

    .input_search button {
        padding: 8px;
        margin: 40px 0;
        background-color: #ddd;
        color: black;
        border: transparent;
    }
    .input_search button:hover {
        background-color: black;
        color: white;
    }

    