@font-face {
    font-family: '프리텐다드고딕';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: '함박눈';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    /* 헤더 스타일 */
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }

    .Frame1 {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* 로고 스타일 */
    .logo {
        font-family: '함박눈';
        font-size: 27px;
        color: #730000;
    }

    /* 카테고리 스타일 */
    .categories {
        display: flex;
        gap: 40px;
    }

    
    .category {
        color: black;
        font-size: 18px;
        font-weight: 600;
        font-family: '프리텐다드고딕';
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 20px 0;
        cursor: pointer;
        transition: color 0.3s;
    }
    
    .category:hover {
        color: #6d211f;
    }
    
    .categories .category:nth-child(1) {
        font-weight: bold;
        font-size: 23px;
    }


    /* 버튼 스타일 */
    .Buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    /* 회원가입 버튼 */
    .BtnSignUp {
        padding: 8px 8px;
        background: rgba(217, 217, 217, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .SignUp {
        text-align: center;
        color: black;
        font-size: 18px;
        font-weight: 700;
        font-family: '프리텐다드고딕';
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.6px;
    }

    /* 로그인 버튼 */
    .BtnLogin {
        padding: 8px 20px;
        background: rgba(217, 217, 217, 0);
        border-radius: 50px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .BtnLogin:hover {
        background-color: #f0f0f0;
    }

    .Login {
        text-align: center;
        color: black;
        font-size: 16px;
        font-weight: 700;
        font-family: '프리텐다드고딕';
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.66px;
    }
	
		    /* 로그아웃 버튼 */
    .BtnLogout {
        padding: 8px 20px;
        background: rgba(217, 217, 217, 0);
        border-radius: 50px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .BtnLogout:hover {
        background-color: #f0f0f0;
    }

    .Logout {
        text-align: center;
        color: black;
        font-size: 16px;
        font-weight: 700;
        font-family: '프리텐다드고딕';
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.66px;
    }
	
    .icon_my {
        width: 26px;
    height: 26px;
    margin-top: 3px;
    }


        /* 컨테이너 스타일 */
        .container {
            width: 1200px;
            margin: 100px auto 0;
            padding: 20px;
            text-align: center;
        }

        /* 제목과 검색창을 감싸는 컨테이너에 Flexbox 적용 */
        .cate_ttl {
            display: flex;
            justify-content: space-between; /* 제목 왼쪽, 검색창 오른쪽 */
            align-items: center;
        }

        /* 제목과 검색창 스타일 */
        .cate_ttl h1 {
            font-size: 25px;
            margin-bottom: 20px;
        }

        .cate_ttl input {
            width: 200px;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #b7b7b7;
            border-radius: 5px;
        }

        /* 콘텐츠 그리드 스타일 */
        .content-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .content-item {
            background-color: #ffffff;
            padding: 15px;
        }

        .content-item img {
            width: 160px;
            height: 180px;
        }

        .content-title {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 500;
            font-family: '프리텐다드고딕';
        }

        /* 부드러운 스크롤 효과 */
        html {
            scroll-behavior: smooth;
        }